/* CSS style sheet used with Epic Games HTML5 projects
 *
 * much of this is for UE4 development purposes.
 *
 * to create a custom CSS file for your project:
 * - make a copy of this file - or make one from scratch
 * - and put it in: "your project folder"/Build/HTML/GameX.css.template
 */

html, body, .container {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-family: "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
}

.h4, h4 {
	margin-top: 1pt;
	margin-bottom: 1pt;
	font-size: 10pt;
}

.container {
	display: table;
	vertical-align: middle;
	border: 0px;
	border-spacing: 0px;
}

.glyphicon-spin {
	animation: spin 2000ms infinite linear;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(359deg);
	}
}

@-webkit-keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(359deg);
	}
}

.wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #000;
}

 .emscripten {
	padding: 0;
	margin: 0;
	display: block;
	width: 100vw;
	height: 100vh;
	max-width: 100vw;
	max-height: 100vh;
}

#canvas:not([fullscreen]) {
	padding: 0;
	margin: 0;
	width: 100vw;
	height: 100vh;
	display: block;
}

.texthalf {
	height: 0;
	border: 0px;
	padding: 0px;
	overflow: hidden;
	font-size: 2em;
}

.buttonarea {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	min-height: 60px;
	border-top: 1px solid rgba(255,255,255,0.1);
	border-bottom: 0px;
	padding: 10px 0;
	margin: 0;
	background: rgba(0,0,0,0.3);
	z-index: 100;
 }

.btn { padding: 0px; text-align: center; min-width: 150px }
.progress { background: rgba(245, 245, 245, 1); border: 0px solid rgba(245, 245, 245, 1); border-radius: 0px; height: 4px; }
.progress-bar-custom { background: rgba(153, 153, 153, 1); }
.centered-axis-xy {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}

